/******** Globals Variables, important stuff**********/

* {

}

html,body {
    margin:5vw;
}


/*************** Colors **************************/
.color1 {background-color: lightblue;}
.color2 {background-color: yellow;}
.color3 {background-color: darkblue;}

/*************** standard sizes **************************/
.w10 {width: 10vw;}
.w20 {width: 20vw;}
.w30 {width: 30vw;}
.w40 {width: 40vw;}
.w50 {width: 50vw;}
.h10 {height: 10vh;}
.h20 {height: 20vh;}
.h30 {height: 30vh;}
.h33 {height: calc(100vh / 3);}
.h40 {height: 40vh;}
.h50 {height: 50vh;}

/********** Spacer *********/
.spacer1 {margin-bottom: 1rem;}
.spacer2 {margin-bottom: 2rem;}

/******* Shadows ******/
.shadow1 {box-shadow: 5px 5px 10px 0 #C2C2C2;}
.shadow2 {box-shadow: 5px 5px 10px 0 #575757;}


/******** Positions *******/
.relative {position: relative;}
.absolute {position: absolute;}
.child1 {
    bottom: 0;
    right: 0;
}

/***** Pseudo classes */
.box {
width: 20vw;
height: 20vw;
background-color: orange;
transition-property:all;
transition-duration: 0.2s;
box-shadow: 0 5px 20px 0 #888;
border-radius: 0.5vw;
}

/* .box:hover {

    transition-property:all;
    transition-duration: 0.5s;
    box-shadow: 0 20px 20px 0 #888;
    transform: translate3d(0,-2vw,0) perspective(200px) rotateY(0deg) rotateX(0deg);


} */

.parentbox:hover .box {
    transition-property:all;
    transition-duration: 0.5s;
    box-shadow: 0 20px 20px 0 #888;
    transform: translate3d(0,-2vw,0) perspective(200px) rotateY(0deg) rotateX(0deg);

}

.ball1 {
    width: 20vw;
    height: 20vw;
    background-color: orange;
    box-shadow: 0 5px 20px 0 #888;
    border-radius: 50%;

}

.ball1:hover {
    animation-name: jump1;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;

}

.gabor {
    background-color: red;
    width: 10vw;
    height: 10vw;
}

.marked {
    color: red;
}

/******* @keyframes ******/

@keyframes jump1 {
    0% {
        transform: translate3d(0,0,0)
    }
    100% {
        transform: translate3d(0,-4vw,0)       
    }
   

}
